/* Styles for the navbar */
nav-bar {
  display: flex; /* Establishes a flex container */
  justify-content: left; /* Horizontally centers content */
  align-items: center; /* Vertically centers items in the navbar */
  width: 100%; /* Ensures the navbar extends full width */
  background-color: #333; /* Dark background for the navbar */
  color: white; /* Light text color for contrast */
  padding: 10px 0; /* Vertical padding, no horizontal padding */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

nav-bar ul {
  list-style: none; /* Removes default list styling */
  display: flex; /* Uses flexbox to lay out children (LI) inline */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  width: 100%; /* Ensures the UL takes full width of the navbar */
  justify-content: space-around; /* Distributes space around items equally */
}

nav-bar li {
  padding: 10px; /* Padding around each list item for better clickability and appearance */
}

/* Hover effect for links */
/* Styling links within the navbar */
nav-bar a {
  color: white; /* Default text color */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px; /* Padding for better touch target and aesthetics */
  border-radius: 20px; /* Rounded corners for the background highlight */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */
}

/* Hover effect for links */
nav-bar a:hover {
  color: #000; /* Change text color on hover */
  background-color: #ffcc00; /* Background highlight on hover */
}

/* Clicked style for links */
nav-bar a.clicked {
  color: #fff; /* Color for clicked state */
  background-color: #f00; /* Background color for clicked state */
}

/* Styles for the main content area */
page-area {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background-color: #f4f4f4;
}

/* Styles for the footer */
site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}

/* Flex container for the entire body to manage layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  /* font-family: "Merriweather"; */
}

/* Styles for the main content area */
.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background-color: #f4f4f4;
}

/* Styles for the footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}
